repos:
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.17
    hooks:
      - id: isort
        # language_version: python3.6
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        # language_version: python3.6
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
      - id: flake8
        additional_dependencies:
          - flake8-bugbear>=19.3.0
          - flake8-builtins>=1.4.1
          - flake8-commas>=2.0.0
          - flake8-comprehensions>=2.1.0
          - flake8-debugger>=3.1.0
          - flake8-pep3101>=1.2.1
          # language_version: python3.6
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=4
          - --no-sort-keys
      - id: check-merge-conflict
      - id: check-yaml
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.3.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-log-warn
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit
        files: "^python/"
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        args: [--fix]
        types: []
        files: (.*.js$|.*.ts$)
        additional_dependencies:
          - eslint@6.8.0
  - repo: local
    hooks:
      - id: pylint-local
        name: pylint-local
        description: Run pylint in the local virtualenv
        entry: pylint "setup.py" "python/" "tests/"
        language: system
        # ignore all files, run on hard-coded modules instead
        pass_filenames: false
        always_run: true
      - id: pytest-local
        name: pytest-local
        description: Run pytest in the local virtualenv
        entry: pytest --cov=rpdk.typescript tests/
        language: system
        # ignore all files, run on hard-coded modules instead
        pass_filenames: false
        always_run: true
      - id: jest-local
        name: jest-local
        description: Run jest in the local environment
        entry: npx jest --ci --verbose
        language: system
        # ignore all files, run on hard-coded modules instead
        pass_filenames: false
        always_run: true
